{% extends 'category/base.html' %}

{% block title %}Smarttrack - Search By Category{% endblock %}

{% block content %}
{% load static %}

<style>
    .logo_img{
            border-radius: 50%;
        }
  body{
        background-image: url('{% static "category/Images/bg7.jpg" %}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        text-shadow:5px 2px 3px rgb(20, 20, 29); ;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="font-size: 16px; position: sticky;top: 0; left: 0;z-index: 10; backdrop-filter: blur(20px);">
        <div class="container">
            <img src="{% static 'users/images/smarttrack_logo.jpg' %}" alt="a nice logo of smarttrack company" height="25px" width="25px>" class=" me-2 logo_img">
            <a class="navbar-brand fw-bold" href="#" style="text-shadow: 5px 2px 3px rgb(20, 20, 29);">SmartTrack <i class="bi bi-rocket-takeoff-fill ms-2"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'allcategories' %}">Categories</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'products_list' %}">Products</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact' %}">Contact</a></li>
                    <div class="home_btn">
                        {% if request.user.is_staff %}
                        <a href="{% url 'allusers' %}" class="btn btn-success ms-2"><i class="bi bi-database-fill-add me-2"></i>View All Users</a>
                    {% endif %}

                    <a class="btn btn-danger ms-2" href="{% url 'logout_view' %}"><i class="bi bi-person-fill-exclamation me-2"></i>Logout</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 d-flex flex-column align-items-center" style="width: 100vw; min-height: 100vh; padding-top: 10%;">
            <h3 class="mb-4 text-white">Search Products By Category</h3>

            <form action="{% url 'searchcategory' %}" method="POST">
                {% csrf_token %}

                <div class="mb-4">
                    <select name="category">
                        {% for product in categories %}
                        <option>{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </form>


            <div class="col-12 table-responsive">
<table class="table caption-top table-dark table-hover align-middle table-sm table-striped table-bordered border-secondary">
  <thead>
    <caption class="text-white mt-2 fw-bold">Available Smarttrack Products</caption>
    <tr class="table-light">
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">ID</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">Name</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">SKU</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">Description</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">Category</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">Price</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">Quantity</th>
      <th scope="col" class="text-dark text-center fw-bold" style="text-shadow: none;">Image</th>
      <th scope='col' class="text-dark text-center fw-bold" style="text-shadow: none;">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td class="text-center fw-bold">{{ product.id }}</td>
      <td class="text-center fw-bold">{{ product.name }}</td>
      <td class="text-center fw-bold">{{ product.sku }}</td>
      <td class="text-center fw-bold">{{ product.description }}</td>
      <td class="text-center fw-bold">{{ product.category }}</td>
      <td class="text-center fw-bold">&#8358;{{ product.price }}</td>
      <td class="text-center fw-bold">{{ product.quantity }}</td>
      <td class="text-center fw-bold">
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail" style="max-width: 80px; height: auto;">
    {% else %}
        <span class="text-white fst-italic">No Image</span>
    {% endif %}
<td class="text-center align-middle">
    <div class="d-flex flex-column gap-2">
        <a href="{% url 'viewproduct' product.id %}" class="btn btn-success btn-sm">View Product</a>
{% if request.user.is_staff %}
        <a href="{% url 'deleteproduct' product.id %}" class="btn btn-danger btn-sm">Delete</a>
        <a href="{% url 'updateproduct' product.id %}" class="btn btn-success btn-sm">Update</a>
{% endif %}
    </div>
</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'home' %}" class="btn btn-primary mb-3 me-1 btn-lg">Homepage</a>
{% if request.user.is_staff %}
<a href="{% url 'create' %}" class="btn btn-primary mb-3 me-1 btn-lg">Add New Product</a>
{% endif %}
<a href="{% url 'allcategories' %}" class="btn btn-primary mb-3 me-1 btn-lg">All Catgories</a>



</div>
        </div>
    </div>

</div>

 <footer class=" text-white pt-2 pb-1 text-center">
        <p class="mb-0 pt-1" style="font-size: 12px; text-shadow: 5px 2px 3px rgb(20, 20, 29);">© 2025 SmartTrack | All Rights Reserved</p>
        <p style="font-size: 12px; text-shadow: 5px 2px 3px rgb(20, 20, 29);">Built With <i class="bi bi-heart-pulse-fill text-danger"></i> By Runsewe Michael(The CodeKing👑)</p>
    </footer>




{% endblock %}