*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    text-shadow: none;
    box-shadow: none;
}



